@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 29% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 213 69% 51%;
    --primary-foreground: 210 40% 98%;
    --secondary: 152 76% 47%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 207 41% 89%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 213 69% 51%;
    --radius: 0.5rem;
    --chart-1: 213 69% 51%;
    --chart-2: 152 76% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 39 80% 58%;
    --chart-5: 329 47% 74%;
  }

  .dark {
    --background: 210 29% 16%;
    --foreground: 0 0% 95%;
    --card: 210 29% 19%;
    --card-foreground: 0 0% 95%;
    --popover: 210 29% 19%;
    --popover-foreground: 0 0% 95%;
    --primary: 213 69% 51%;
    --primary-foreground: 0 0% 95%;
    --secondary: 152 76% 47%;
    --secondary-foreground: 0 0% 95%;
    --muted: 210 29% 25%;
    --muted-foreground: 210 10% 70%;
    --accent: 207 41% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 95%;
    --border: 210 29% 30%;
    --input: 210 29% 30%;
    --ring: 213 69% 51%;
    --chart-1: 213 69% 51%;
    --chart-2: 152 76% 47%;
    --chart-3: 197 37% 60%;
    --chart-4: 39 80% 58%;
    --chart-5: 329 47% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins', sans-serif;
  }
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://ext.same-assets.com/349365422/1411677578.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('https://ext.same-assets.com/323179405/3481533639.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('https://ext.same-assets.com/4078552173/2465678096.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('https://ext.same-assets.com/1321317481/2285311865.woff2') format('woff2');
}
